body {
    font-family: Arial, sans-serif;
    background-color: #f8d3e1;
    color: #333;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

input[type="file"] {
    display: none; /* Hide the default file input */
}

.custom-file-input {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    border: 2px solid #C71585;
    border-radius: 25px;
    background-color: white; /* Background color for custom button */
    color: #C71585; /* Text color */
    cursor: pointer;
    margin-bottom: 15px; /* Space below the button */
}

button {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #C71585;
}

    button:hover {
        opacity: 0.9;
        transform: translateY(-2px);
    }

#output {
    margin-top: 20px;
    color: black;
}

.document-item {
    display: block; /* Each item as a block */
    padding: 15px;
    margin: 10px auto;
    border: 2px solid #C71585;
    border-radius: 15px; /* Rounded corners */
    width: 50%; /* Control the width of list items */
    background-color: white; /* Background color for items */
}

.file-info {
    display: block; /* Stack info lines */
    margin-top: 5px;
}

#response {
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}
